{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'user_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'user_register' %}">Register</a>
        <a href="{% url 'user_login' %}">Login</a>
    {% endif %}


    <div class="card">
        {% for todo in todos %}
            <a class="card-body" href="{% url 'details' todo.id %}">{{ todo.title }}</a><br/>
        {% endfor %}
    </div>

{% endblock %}